<template name="search">
<h1 class="search-page-title"> Showing results for:</h1>
<h1 class="search-page-query">"{{search_query}}"</h1>
<div class="ui grid centered grid">
  {{#each results}}
    {{#with this}}
    <div class="row">
      <div class="one wide column">
        <div class="ui massive red circular label">{{day}}<div class="ui divider"></div> {{month}}/{{date}}</div>
      </div>
      <div class="five wide column">
        <div>
          <h1 class="ui header event_name" data-title="Performers:" data-content="{{performers}}" data-variation="huge">{{title}}</h1>
        </div>
      </div>
      <div class="four wide column">
        <h2 class="ui blue header venue_name" data-html='<i class="star icon"></i>'>{{venue_name}}</h2>
      </div>
      <div class="three wide column">
        <h1 class="ui green header"> ${{min_price}} - ${{max_price}}</h1>
      </div>
    </div>
    {{/with}}
  {{/each}}
</div>
</template>
