<template name="search"> 
  <div class="container">
   <ul class="list-group">
    {{#each results}}
    {{#with this}}
    <li class="list-group-item nobottom" data-toggle="collapse" href="#{{id}}">
      <div class="row">
        <div class="col-xs-2">
          <div class="ui large red square label">{{day}}<div class="ui divider"></div> {{month}}/{{date}}</div>
        </div>
        <div class="col-xs-4">
          <p>{{title}}</p>
        </div>
        <div class="col-xs-4">
          <p>{{venue_name}}</p>
          <p>{{city}}, {{state}}, {{country}} </p>
        </div>
        <div class="col-xs-2">
          <p> ${{min_price}}</p>
        </div>
      </div> 
      <ul id="{{id}}" class="list-group collapse">
       <div class="row">
         <li class="panel panel-default list-group-item">
          <div class="col-xs-2">
            <span class="glyphicon glyphicon-plane"></span>
          </div>
          <div class="col-xs-4">
            <p>{{title}}</p>
          </div>
          <div class="col-xs-4">
            <p>{{venue_name}}</p>
            <p>{{city}}, {{state}}, {{country}} </p>
          </div>
          <div class="col-xs-2">
            <p> ${{min_price}}</p>
          </div>
        </li>
      </div>
      <li class="panel panel-default list-group-item row">
        <div id="{{num}}">
        	{{#with loc}}
          	{{hotel this}}
        	{{/with}}
      	</div>
		<div class="col-xs-2">
          <span class="glyphicon glyphicon-home"></span>
        </div>
        <div class="col-xs-4" id="hotelname{{num}}">
					<p></p>
        </div>
        <div class="col-xs-4" id="hotelloc{{num}}">
          <p></p>
          <p></p>
        </div>
        <div class="col-xs-2" id="hotelprice{{num}}">
        </div>
      </li>
    </ul>
  </li>
  <br>
  {{/with}}
  {{/each}}
</ul>


</div>
</template>
