@import url(https://fonts.googleapis.com/css?family=Aguafina+Script);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
.jumbo-page{
  width: 100%;
  height: 100%;
  background: center url('/main/images/concert.jpg');
  background-size: 100%;
}
.landing-page-title{
  color: #FFEB3B;
  font-family: 'Aguafina Script', cursive;
  font-size: 1200%;
  text-align: center;
  margin-bottom: 50px;
}
.landing-page-modal-title{
  color: #F44336;
  font-family: 'Aguafina Script', cursive;
  font-size: 1000%;
  text-align: center;
  margin-bottom: 10px;
}
.search-input{
  font-size: 300%;
}
.horizontal-center-container{
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
.vertical-center-container{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//tunespeak.s3.amazonaws.com/videos/home_poster.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
