<template name="main">
  <div class="jumbo-page">
    <div class="vertical-center-container">
      <h1 class="landing-page-title">Trip Groupie</h1>
      <div class="horizontal-center-container">
        <div class="ui icon input">
          <input id="search_query" class="search-input" type="text" placeholder="Search Artists...">
          <i id="search-button" class="huge search link yellow icon"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui basic modal">
    <i class="close icon"></i>
    <h1 class="landing-page-modal-title">Error</h1>
    <div class="content">
      <div class="description">
        <p style="text-align:center;font-size:200%">Please enter an Artist!</p>
      </div>
    </div>
    <div class="horizontal-center-container actions">
      <div class="ui negative button">
        <i class="remove icon"></i> Close
      </div>
    </div>
  </div>
</template>
