template{
  margin: 5%;
}

.search-page-title{
  color: #F44336;
  font-family: 'Aguafina Script', cursive;
  font-size: 700%;
  text-align: center;
  padding-top: 50px;
}

.search-page-query{
  color: #9E9E9E;
  font-size: 400%;
  text-align: center;
  margin-bottom: 30px;
}

.list-group-item{
  overflow:hidden;
  position: relative;
  display: block;
  background-color: #d8d8d8;
}

.glyphicon {
    font-size: 35px;
    margin: 15px;
}

.nobottom {
  padding-bottom: 0px;
}

.pad{
  padding: 2%;
}

.nobottom .collapsed {
  padding-bottom: 10px;
} 

.dollar{
	font-size: 20px;
	margin: 0px;
}

